h1 {
	padding: 10px, 0px, 0px, 10px;
	color: #000000; /*rgb(0,0,0);*/
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 40px;
}

h2 {
	padding: 20px, 0px, 0px, 15px;
	color: #800000; /*rgb(128,0,0);*/
	font-style: italic;
	font-size: 30px;
}

li {
	padding: 30px, 0px, 0px, 20px;
	line-height: 1.6em;
	font-size: 16px;
}

body {
	padding: 10px 20px;
	font-family: Arial, sans-serif;
	background-image: url("../images/me_background.jpeg");
	background-position: bottom;
}

a:link {
	color: #0000FF; /*rgb(0,0,255)*/
}

a:visited {
	color: #800080; /*rgb(128,0,128)*/
}

a:active {
	color: #800080; /*rgb(128,0,128)*/;
	font-weight: bold;
}

#links li {
	display: inline-block;
}
