@media screen and (min-width:481px){

	.table-container {
		display: table;
		border-spacing: 10px;
	}

	.table-row {
		display: table-row;
	}

	.table-cell {
		display: table-cell;
		vertical-align: top;
	}

	#soccer #softball {
	  position: absolute;
	  left: 10px;
	  width: 50%;
	}

	#basketball #rugby {
	  position: absolute;
	  right: 10px;
	  width: 50%;
	}

	.thumbnail:hover {
		position: relative;
		top:-25px;
		left: -35px;
		width: 500px;
		height: auto;
		display: block;
		z-index: 999;
	}
}
