h1 {
	font-family: Arial, sans-serif;
	color: #000000; /*rgb(0,0,0);*/
	font-weight: bold;
}

h2 {
  font-family: sans-serif;
  color: #800000; /*rgb(128,0,0);*/
  font-style: italic;
}

#text {
	font-family: serif;
	color: #2900ac; /*rgb(41,0,172);*/
  	width: 100%;
}

li {
	font-family: sans-serif;
	color: #0000FF; /*rgb(0,0,225);*/
}

body {
	background-color: #808080; /*rgb(128,128,128);*/
	font-family: Arial, sans-serif;
}

a:link {
	color: #0000FF; /*rgb(0,0,255)*/
}

a:visited {
	color: #800080; /*rgb(128,0,128)*/
}

a:active {
	color: #800080; /*rgb(128,0,128)*/;
	font-weight: bold;
}

#links li {
	display: inline;
}

head, body {
	max-width: 100%;

}
